
/* styling for index.html*/
/* this will make every element's margin, padding reset to 0 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this will make sure the html window will become 100% wide */
html, body {
  width: 100%;
}

/* this will make sure every element using the same font */
/* text-decoration: none means it's remove effect like underline for the text */
h1, h2, h3, a, button, p, div, span {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex; /* this will make the .navbar child become flex layout*/
  padding: 25px; /* Add padding: 25px for each side*/
  align-items: center;
  justify-content: space-between;
  background-color: #151516;
}

.navbar .topnav a {
  color: #FFFFFF;
  margin-left: 40px;
  font-size: 1em; /*(hmm, too big? don't want it too small?)*/
  font-family: 'Open sans',sans-serif;
}



footer {
  padding: 25px;
  border-top: 1px solid rgb(213, 213, 213);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #151516;
}

footer h1 {
  color: #D8B161;
  margin-bottom: 10px;
  font-family: 'Open-sans',sans-serif;
  font-size: 13px;
}

footer p {
  color: white;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

footer .social {
  text-align: center;
}

footer .social a {
  display: inline-block;
  color: white;
  font-size: 13px;
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;
}

footer .social a:first-child {
  padding-left: 0;
}
