/*Styling for Project Page*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Lora";

}

.topnav a.active {
  color: black;
}

/*styling for project image*/




.companpics {
 align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  left: 200px;
}

.summary-text h1 {
font-size: 2em;
font-weight: normal;
text-align:center;
color:#1B2D37;

}

h2 {
  font-size: 1.5em;
  font-weight: italic;
  text-align:left;
  color:#1B2D37;

}

p {
font-size:16px;
font-weight: normal;
line-height: 1.5em;
width:800px;
align: justify;
}

.myroles {
  color: #97976A;
  font-weight: bold;
}

.del {
  color: #97976A;
  font-weight: bold;
}

.survey {
  color: #97976A;
  font-weight: bold;
}

.percentage{
  font-family: "lora";
  color: #1B2D37;
  font-weight: bold;
  font-size: 2em;
}

.compresults {
  color: #97976A;
  font-weight: bold;
  font-size: 1em;
}

.task {
  color: #97976A;
  font-weight: bold;
  font-size: 1em;
}

.results {
  color: #97976A;
  font-weight: bold;
  font-size: 1em;
}

.branding {
  color: #97976A;
  font-weight: bold;
  font-size: 1em;
}

/* testimonial styling*/
.testimonial {
  color: #DBA63B;
  font-weight: bold;
  font-size: 1em;
  font-style: italic;
}

.column {
  float: left;
  width: 50%;
  background-color: #C4C4C4;
}

.column p{
  text-align: center;
  width: 450px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    background-color: #C4C4C4;
  }
}

/*styling for invision prototpye button*/
.button{
 background-color: #DBA63B;
 border: none;
 color: #1B2D37;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}



.problem{
}

.soution{
  font-family:"Lora";
  font-size:10em;
  font-weight: normal;
  text-align:center;
  position: relative;
  bottom: 350px;
  padding-left:600px;
}






.eliza-qoute {
  font-size:
}

.arthur-qoute p{}

.michelle-qoute p{}

.drew-qoute p{}

.comp-analysis h2{}

.comp p{}

.comp2 p {}

.userflows h2, p{}

.wireframes-and-usability-tests h1, h2, h3 p{}

.usability h2, p {}

.tasks p{}

/* button styling for clickabe prtotoype*/
.clickablebutton {
   background-color: #DBA63B;
   border: none;
   color: #1B2D37;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
  }


.test-results p{}

.branding-and-identity h2, p{}

.test-1 p{}
.test-2 p{}
.test-3 p{}
.test-4 p{}

.logo h2,p{}

.colorandtype h2, p{}

/* styling for color palette and typography images*/

.colorpalette-image{}

.typography{}

.preference-test h2, p{

}

/* styling for preference testing images and text*/

.menu-test1 {}
.menu-test1 p{}
.menu-test2 {}
.menu-test2 p{}

.landingpage-test1 {}
.landingpage-test1 p{}

.landingpage-test2 {}
.landingpage-test2 p{}

.finalproduct h2,

.finalproduct p{}

/* stylng for final product images*/

.desktopprototypes{}

.phones{}




.learned h2 p{}

/* footer syling*/
