/*Styling for Project Page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body, h1, h2, h3, p, a, button, span, div {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.navbar {
  display: flex; /* this will make the .navbar child become flex layout*/
  padding: 25px; /* Add padding: 25px for each side*/
  align-items: center;
  justify-content: space-between;
  background-color: #25272B;
}

.navbar .topnav a {
  color: #DBDBDF;
  margin-left: 40px;
  font-size: 1em; /*(hmm, too big? don't want it too small?)*/
  font-family: 'Open sans',sans-serif;
  font-weight: bold;
}

.projectimage img {
  width: 100%;
}


.problem-solution {
  padding: 40px;
  background-color: rgb(27, 45, 55);
  color: white;
  display: flex;
  justify-content: center;
}

.problem-solution .problem {
  width: 50%;
  max-width: 400px;
  margin-right: 50px;
}

.problem-solution h1 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 5vh;
}

.problem-solution p {
  font-size: 16px;
  line-height: 22px;
}



.problem-solution .solution {
  width: 50%;
  max-width: 400px;
  margin-left: 50px;
}

.skills-work {
  padding: 40px;
  color: rgb(27, 45, 55);
  display: flex;
  justify-content: center;
}

.skills-work div {
  width: 170px;
  padding: 25px;
  background-color: rgb(250, 250, 250);
  margin: 0 5px;

}

.skills-work h1 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  margin-bottom: 5vh;
}

.skills-work p {
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1.1px;
  font-weight: 600;
}

.invision-btn a {
    display: block;
    background-color: #DBA63B;;
    color: #1B2D37;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 15px auto;
    width: 180px;
    padding: 12px;
    margin-top: 10vh;
}

.discovery-research {
  padding: 80px;
}

.research-survey {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.research-survey .research {
  width: 40%;
}

.research-survey .survey {
  width: 60%;
}

.discovery-research .title {
  text-align: center;
  color: rgb(27, 45, 55);
  font-size: 38px;
  margin-bottom: 90px;
}

.research {
  padding: 0 40px;
}

.research h1 {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.research p {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
}

.research p .color {
  color: rgb(151, 151, 106);
  font-weight: 700;
}

.survey {
  padding: 0 40px;
}

.percent-n-text {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.percent-n-text .percent {
  color: rgb(27, 45, 55);
  font-size: 24px;
  width: 85px;
  flex-shrink: 0;
}

.percent-n-text .text {
  line-height: 22px;
}

.personas {
  padding: 80px;
}

.persona-title {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.persona-paragraph {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  width: 600px;
  margin-bottom: 60px;
}

.persona-container {
  display: flex;
}

.persona {
  flex-shrink: 0;
  width: 230px;
  margin-right: 100px;
}

.persona .persona-image {
  margin-bottom: 15px;
}

.persona-testimonial {
  line-height: 22px;
  color: black;
  margin-bottom: 15px;
}

.persona-name {
  margin-bottom: 5px;
}

.comp-analysis {
  padding: 80px;
}

.comp-analysis .title {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.comp-container {
  display: flex;
  justify-content: space-between;
}

.comp-analysis .comp .comp-paragraph {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  width: 600px;
  margin-bottom: 30px;
}

.comp-analysis .comp .compresults {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 14px;
  width: 600px;
  color: rgb(151, 151, 106);
  line-height: 24px;
}

.comp-analysis .companpics {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.comp-analysis .companpics img {
  margin-bottom: 10px;
}

.userflows {
  padding: 80px;
}

.userflows h1 {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.userflows p {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  width: 600px;
  margin-bottom: 60px;
}

.userflows-img {
  display: flex;
  align-items: center;
}

.userflows-img img:first-child {
  margin-right: 10%;
}

.wireframes-and-usability-tests {
  padding: 80px 0;
}

.wireframes-and-usability-tests > h1 {
  text-align: center;
  color: rgb(27, 45, 55);
  font-size: 38px;
  margin-bottom: 90px;
}

.sketching-container {
  display: flex;
  margin-bottom: 40px;
}

.sketching-container .sketching {
  width: 60%;
  max-width: 600px;
  padding: 0 0 0 80px;
  margin-right: 50px;
}

.sketching-container .sketching > h1 {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.sketching-container .sketching > p {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
}

.sketch-right img {
  height: 100%;
  margin-right: 5px;
}

.sketch-bottom {
  margin-bottom: 40px;
  padding: 0 80px;
}

.sketch-bottom img {
  margin-right: 8%;
}

.wireframes {
  background-color: rgb(27, 45, 55);
  padding: 40px;
  text-align: center;
  display: flex;
}

.wireframes img {
  width: 50%;
}

.wireframes img:first-child {
  margin-right: 40px;
}


.image-right {
  flex-shrink: 0;
}

.image-right img:first-child {
  margin-right: 30px
}

.usability {
  padding: 80px;
}

.usability > h1 {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.usability > p {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  width: 600px;
  margin-bottom: 20px;
}

.usability .container-result {
  display: flex;
}

.usability .title {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.tasks-container {
  width: 40%;
  padding: 50px;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.task .numbers {
  font-size: 56px;
  color: rgb(224, 224, 210);
  font-weight: 700;
  margin-right: 20px;
  width: 60px;
}

.task .step {
  font-weight: 700;
  color: rgb(151, 151, 106);
  line-height: 26px;
}

.test-results {
  width: 60%;
  padding: 50px;
}

.test-results p {
  color: rgb(151, 151, 106);
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 15px;
  line-height: 26px;
}


.visual-design > h1 {
  text-align: center;
  color: rgb(27, 45, 55);
  font-size: 38px;
  margin-bottom: 50px;
}

.branding > h1 {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.branding {
  padding: 80px;
}

.branding p {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  width: 600px;
  margin-bottom: 20px;
}

.branding .brand {
  color: rgb(151, 151, 106);
  font-weight: 700;
}

.branding-testimonials {
  background-image:url('../images/testimonialpic.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.branding-testimonials p {
  font-size: 22px;
  color: rgb(219, 166, 59);
  width: 700px;
  padding: 60px 100px;
}

.branding-row {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.logo {
  padding: 80px;
  display: flex;
}

.logo-container {
  width: 600px;
  flex-shrink: 0;
  align-items: flex-end;
}

.logo .logo-title {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.logo .logo-paragraph {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.colorandtype {
  padding: 80px;
  display: flex;
  align-items: flex-end;
}

.colorandtype-container {
  width: 600px;
  flex-shrink: 0;
  margin-right: 40px;
}

.colorandtype .colorandtype-title {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.colorandtype .colorandtype-paragraph {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.preference-test {
  display: flex;
  align-items: flex-start;
  padding: 80px;
}

.left-preference {
  width: 600px;
  flex-shrink: 0;
  margin-right: 30px;
}

.left-preference h1 {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.left-preference > p {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.menu-container {
  display: flex;
}

.menu img {
  height: 235px;
}

.menu p {
  color: rgb(27, 45, 55);
  text-align: center;
  font-weight: 700;
}

.right-preference {
  display: flex;
}

.landingpage-test1 {
  margin-right: 20px;
}

.right-preference p {
  color: rgb(27, 45, 55);
  text-align: left;
  font-weight: 700;
  width: 200px;
  line-height: 22px;
}

.finalproduct {
  padding: 80px;
}

.finalproduct > h1 {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.finalproduct > p {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
  width: 600px;
}

.finalproduct .reborn {
  font-weight: 700;
  color: rgb(151, 151, 106);
}

.finalproduct img {
  display: block;
  margin: 0 auto;
}

.try-prototype {
  display: block;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}

.key-features {
  width: 500px;
  margin: 30px auto 0 auto;
}

.key-features > h1 {
  color: rgb(27, 45, 55);
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.key-features > p {
  line-height: 22px;
  margin-bottom: 10px;
}

.mockups-image {
  padding: 0 80px;
}

.mockups-image h1 {
  color: rgb(27, 45, 55);
  text-align: center;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.mockups-image img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.learned {
  padding: 80px
}

.learned h1 {
  font-size: 32px;
  color: rgb(27, 45, 55);
  margin-bottom: 15px;
}

.learned p {
  text-indent: 60px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

footer {
  padding: 25px;
  border-top: 1px solid rgb(213, 213, 213);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: rgb(119, 119, 119);
  font-size: 13px;
}

footer .social {
  text-align: center;
}

footer .social a {
  display: inline-block;
  color: #1B2D37;
  font-size: 32px;
  padding: 0 15px;
}

.hamburger-btn {
  width: 40px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hamburger-btn .line {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 3px 0;
}

.nav-mobile {
  display: none;
}

/*hide on desktop show on mobile*/
.mobile-only {
  display: none !important;
}

/*mobile phone width resolution is less than 1024px.*/
@media screen and (max-width: 1024px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none;
  }

  .nav-mobile {
    display: none;
    height: calc(100vh - 102px);
  }

  .nav-mobile a {
    display: block;
    text-align: center;
    padding: 30px 0;
    color: rgb(119, 119, 119);
    font-size: 18px;
  }

  .hamburger-btn {
    display: flex !important;
    cursor: pointer;
  }

  .summary-text {
    padding: 20px;
  }

  .summary-paragraph {
    width: 100%;
  }

  .problem-solution {
    padding: 20px;
    flex-direction: column;
  }

  .problem-solution .problem {
    margin: 0;
    width: 100%;
  }

  .problem-solution .problem p {
    margin-bottom: 50px;
  }

  .problem-solution .solution {
    margin: 0;
    width: 100%;
  }

  .skills-work {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .skills-work div {
    margin-bottom: 10px;
  }

  .discovery-research {
    padding: 20px;
  }

  .research-survey {
    flex-direction: column;
  }

  .research-survey .research {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .research-survey .survey {
    width: 100%;
    padding: 0;
  }

  .personas {
    padding: 20px;
  }

  .persona-container {
    flex-direction: column;
    align-items: center;
  }

  .persona-paragraph {
    width: 100%;
  }

  .persona {
    margin: 0 0 50px 0;
  }

  .persona .persona-image {
    display: block;
    margin: 0 auto;
  }

  .comp-analysis {
    padding: 20px;
  }

  .comp-analysis .comp .comp-paragraph {
    width: 100%;
    max-width: 600px;
  }

  .comp-analysis .comp .compresults {
    width: 100%;
    max-width: 600px;
  }

  .comp-container {
    flex-direction: column;
  }

  .comp-analysis .companpics {
    flex-direction: row;
  }

  .comp-analysis .companpics {
    width: 100%;
    justify-content: center;
  }

  .comp-analysis .companpics img {
    width: 100px;
  }

  .userflows {
    padding: 20px;
  }

  .userflows p {
    width: 100%;
    max-width: 600px;
  }

  .userflows-img {
    flex-direction: column;
    justify-content: center;
  }

  .userflows-img img{
    width: 100%;
  }

  .userflows-img img:first-child {
    margin: 0;
  }

  .wireframes-and-usability-tests {
    padding: 20px;
  }

  .sketching-container {
    flex-direction: column;
  }

  .sketching-container .sketching {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .sketch-right {
    width: 100%;
  }

  .sketch-right img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .sketch-bottom {
    padding: 0;
    width: 100%;
  }

  .sketch-bottom img {
    margin: 0;
    width: 100%;
  }

  .wireframes {
    flex-direction: column;
  }

  .wireframes img {
    width: 100%;
  }

  .wireframes img:first-child {
    margin: 0 0 20px 0;
  }

  .mockups {
    padding: 20px;
    flex-direction: column;
  }

  .mockups-container {
    width: 100%;
  }

  .mockups-container .image {
    flex-direction: column;
  }

  .mockups-container .image img {
    width: 100%;
  }

  .mockups-container .image img:first-child {
    margin: 0 0 20px 0;
  }

  .image-right img {
    width: 100%;
  }

  .image-right img:first-child {
    margin: 0 0 20px 0;
  }

  .usability {
    padding: 20px;
  }

  .usability > p {
    width: 100%;
    max-width: 600px;
  }

  .usability .container-result {
    flex-direction: column;
  }

  .tasks-container {
    width: 100%;
    padding: 0;
  }

  .test-results {
    width: 100%;
    padding: 0;
  }

  .visual-design {
    padding: 20px;
  }

  .branding {
    padding: 0;
  }

  .branding-testimonials {
    padding: 20px;
    width: 100%;
  }

  .branding p {
    width: 100%;
    max-width: 600px;
  }

  .branding-row {
    flex-direction: column;
    margin: 0;
  }

  .branding-testimonials p {
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    max-width: 700px;
  }

  .logo {
    padding: 20px;
    display: block;
  }

  .logo img {
    width: 100%;
  }

  .logo-container {
    width: 100%;
    max-width: 600px;
  }

  .logo-container img {
    width: 100%;
  }

  .colorandtype {
    padding: 20px;
    flex-direction: column;
  }

  .colorandtype img {
    width: 100%;
  }

  .colorandtype-container {
    width: 100%;
    max-width: 600px;
    margin: 0;
  }

  .preference-test {
    padding: 20px;
    flex-direction: column;
  }

  .left-preference {
    margin: 0 0 20px 0;
    width: 100%;
    max-width: 600px;
  }

  .menu-container {
    flex-direction: column;
    align-items: center;
  }

  .right-preference {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .landingpage-test1 {
    margin-bottom: 20px;
  }

  .finalproduct {
    padding: 20px;
  }

  .finalproduct > p {
    width: 100%;
    max-width: 600px;
  }

  .finalproduct img {
    width: 100%;
  }

  .key-features {
    width: 100%;
    max-width: 500px;
  }

  .mockups-image {
    padding: 20px;
  }

  .mockups-image img {
    width: 100%;
  }

  .learned {
    padding: 20px;
  }

  footer .social a {
    font-size: 22px;
    padding: 0 2px;
  }

}
